@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>腾讯云微信小程序服务器 Demo - APS.NET MVC</title>
</head>
<body>
    <div>
        <h1>腾讯云微信小程序服务器 Demo - APS.NET MVC</h1>
        <p>会话管理服务</p>
        <ul>
            <li><a href="/login">登录服务</a></li>
            <li><a href="/user">检查登录</a></li>
        </ul>
    </div>
</body>
</html>
